body {
    background-color: hsl(234, 29%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}





.h1 {
    font-size: 45px;
}


.p1 {
    color: gr;
}



.div1 {
    background-color: white;
    width: 650px;
    height: 500px;
    border-radius: 10px;
    padding: 7ch;

}



.inp1 {
    width: 299px;
    height: 35px;
    border-radius: 10px;
    border: solid 1px gray;



}


.btn1 {
    width: 305px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px black;
    margin-top: 20px;
    background-color: black;
    color: white;
    display: block;
}

.div1 {
    display: flex;
}


.img1 {
    margin-left: 50px;
    display: block;

}


div.div99 {
    display: flex;
    gap: 10px;
}

.img2 {
    gap: 10px;
}